{
    "printWidth": 100,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "overrides": [
        {
            "files": ["*.json", "*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.md"],
            "options": {
                "printWidth": 80,
                "proseWrap": "always"
            }
        }
    ]
}
